<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zifangsky.mapper.SsoClientDetailsMapper">
  <resultMap id="BaseResultMap" type="cn.zifangsky.model.SsoClientDetails">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="redirect_url" jdbcType="VARCHAR" property="redirectUrl" />
    <result column="logout_url" jdbcType="VARCHAR" property="logoutUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, client_name, description, redirect_url, logout_url, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sso_client_details
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sso_client_details
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.zifangsky.model.SsoClientDetails">
    insert into sso_client_details (id, client_name, description, 
      redirect_url, logout_url, status
      )
    values (#{id,jdbcType=INTEGER}, #{clientName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{redirectUrl,jdbcType=VARCHAR}, #{logoutUrl,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.zifangsky.model.SsoClientDetails">
    insert into sso_client_details
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clientName != null">
        client_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="redirectUrl != null">
        redirect_url,
      </if>
      <if test="logoutUrl != null">
        logout_url,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="clientName != null">
        #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="redirectUrl != null">
        #{redirectUrl,jdbcType=VARCHAR},
      </if>
      <if test="logoutUrl != null">
        #{logoutUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zifangsky.model.SsoClientDetails">
    update sso_client_details
    <set>
      <if test="clientName != null">
        client_name = #{clientName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="redirectUrl != null">
        redirect_url = #{redirectUrl,jdbcType=VARCHAR},
      </if>
      <if test="logoutUrl != null">
        logout_url = #{logoutUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zifangsky.model.SsoClientDetails">
    update sso_client_details
    set client_name = #{clientName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      redirect_url = #{redirectUrl,jdbcType=VARCHAR},
      logout_url = #{logoutUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByRedirectUrl" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sso_client_details
    where redirect_url = #{redirectUrl,jdbcType=VARCHAR}
  </select>
</mapper>